<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBiXEeVio74h-bOO4RBEBbAaaACqhEyk4E</string>
	<key>GCM_SENDER_ID</key>
	<string>101678156682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jyothikasapplication.app</string>
	<key>PROJECT_ID</key>
	<string>miniproject-flutter-89670</string>
	<key>STORAGE_BUCKET</key>
	<string>miniproject-flutter-89670.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101678156682:ios:505d718a2f125d6a801673</string>
</dict>
</plist>